* {
    margin: 0;
    padding: 0;
    border: 0;
}

.content {
    background-color: black;
    display: flex;
    align-items:center;
    height: 50vh;
    color: white;
    justify-content: center;
    flex-direction: column;
}

#click-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

#click-button:hover {
    background-color: red;
    color: black;
}

#click-button:focus-within {
    background-color: purple;
    color: orange;
}

.new-content {
    display: flex;
    background-color: blue;
    color: white;
    height: 50vh;
    padding: 50px;
}

img {
    width: 400px;
    height: 400px;
    object-fit: contain;  /**A imagem sera redimensionada para caber dentro do container**/
    margin-right: 100px;
    margin-left: 100px;
}

.columm-2 {
    max-width: 600px;
    text-align: center;
}

.new-content {
    align-items: center;
    justify-content: center;
}

.purple-screen {
    background-image: linear-gradient(#7c2f94, #2d0446);
    justify-content: space-between;
    text-align: center; /*para colocar o botao no centro*/
    padding: 30px;
}

.first-picture {
    display: flex;
    align-items: center;
    font-style: italic;
    text-align: center;
}

.second-picture {
    display: flex;
    align-items: center;
    font-style: italic;
    text-align: center;
}

.first-picture h4, .second-picture h4 {
    text-align: center; /* Alinha o texto ao centro */
    font-size: 18px;
}

#purple-hello #purple-hello2 {
    object-fit: contain;    
    width: 300px;  /* Ajusta o tamanho das imagens */
    height: auto;  /* Mantém a proporção da imagem */ 
}

#up-button {
    display: inline-block; /* Corrige o tamanho do botão */
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 6, 54);
    color: white;
    text-decoration: none;
    padding: 20px 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-style: normal;
    /**box-shadow: 2px 2px 5px rgb(248, 247, 247); /* Adiciona a sombra */
    border-bottom: 2px solid;
    border-right: white solid;
}

#up-button:hover {
    box-shadow: 4px 4px 10px rgb(0, 0, 0); /* Sombra mais intensa ao passar o mouse */
}