* {
    margin: 0;
    padding: 0;
    border: 0;
}

.content {
    background-color: black;
    display: flex;
    align-items:center;
    height: 50vh;
    color: white;
    justify-content: center;
    flex-direction: column;
}

#click-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#click-button:hover {
    background-color: red;
    color: black;
}

#click-button:focus-within {
    background-color: purple;
    color: orange;
}

.new-content {
    display: flex;
    background-color: blue;
    color: white;
    height: 50vh;
    padding: 50px;
}

img {
    width: 400px;
    height: 400px;
    object-fit: contain;  /**A imagem sera redimensionada para caber dentro do container**/
    margin-right: 100px;
    margin-left: 100px;
}

.columm-2 {
    max-width: 600px;
    text-align: center;
}

.new-content {
    align-items: center;
    justify-content: center;
}

.purple-screen {
    background-image: radial-gradient(circle, #450669, #7c2f94);
}

.first-picture {
    display: flex;
    align-items: center;
    font-style: italic;
    text-align: center;
}

.second-picture {
    display: flex;
    align-items: center;
    font-style: italic;
    text-align: center;
}

#purple-hello #purple-hello2 {
    object-fit: contain; 
}

#up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 6, 54);
    color: white;
    padding: 10px 20px;
    border: 500px;
    border-radius: 5px;
    cursor: pointer;
    font-style: normal;
    box-shadow: 2px 2px 5px rgb(248, 247, 247); /* Adiciona a sombra */
    
}
#up-button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra mais intensa ao passar o mouse */
  }