* {
    margin: 0;
    padding: 0;
    border: 0;
}

.content {
    background-color: black;
    display: flex;
    align-items:center;
    height: 50vh;
    color: white;
    justify-content: center;
    flex-direction: column;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    background-color: red;
    color: black;
}

button:focus-within {
    background-color: purple;
    color: orange;
}

.new-content {
    display: flex;
    background-color: blue;
    color: white;
    height: 50vh;
    padding: 50px;
}

.columm-1 {
    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 300px;
}

.columm-2 {
    max-width: 600px;
}